body{
  font-family: Bitter, Arial;
  font-size: 14px;
  margin: 0;
}

.header{
  padding: 35px 20px;
  background-color: #1F3259;
  color: #FFF;
  text-align: center;
}

.header .h1, h4{
  margin: 0;
}

.header .h1{
  text-shadow: 2px 2px #001B4D;
  font-size: 6em;
  color: #FFF;
  text-decoration: none;
}

.header .h1 img{
  display: block;
  margin: auto;
}

.header h4{
  font-size: 1.5em;
  font-weight: normal;
  color: #ABC4F4;
}

.header h4 code{
  font-size: 0.8em;
}

#message-box{
  position: fixed;
  right: 30px;
  top: 30px;
  background-color: #FFF;
  padding: 20px 40px;
  border-radius: 3px;
  color: #F1F1F1;
  z-index: 3;
  transition: all 1s;
}

#message-box .btn-close{
  cursor: pointer;
  color: #000;
  font-weight: bold;
  background: rgba(241, 241, 241, 0.42);
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 10px;
}

#message-box .btn-close:hover{
  background: rgba(241, 241, 241, 0.62);
}

#message-box.error{
  background-color: #d83434;
  border-top: #FF7070 2px solid;
}

#message-box.success{
  background-color: #60b044;
  border-top: #74DD4F 2px solid;
}

#games{
  padding: 20px;
  margin: auto;
}

#games a{
  padding: 20px;
  font-size: 1.5em;
  background-color: #333;
  width: 200px;
  height: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  margin: 10px;
  transition: background-color 1s, width 0.5s;
}

#games a:hover{
  background-color: #666;
  width: 220px;
  text-decoration: none;
}

/**
  Games CSS
*/

.side-menu .header{
  max-width: 200px;
  font-size: 0.5em;
  overflow: hidden;
  position: fixed;
  height: 100%;
  top: 0;
  padding: 25px 0px;
  z-index: 2;
}

.side-menu .header img{
  height: 35px;
}

.game-workspace{
  color: #666;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  left: 200px;
  height: 100%;
}

.game-workspace h1{
  font-size: 2.5em;
  font-weight: normal;
  color: #333;
  margin: 0;
  border-bottom: #E7E7E7 1px solid;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.game-workspace canvas{
  border-radius: 3px;
}

.game-workspace iframe{
  border: 0;
  border-radius: 3px;
}

canvas.workspace-game {
  position: relative;
  border: #CCC 1px dashed;
}
